{% extends 'base.html.twig' %}

{% block title %}Geo Whale{% endblock %}

{% block body %}

<div class="home">
    <div class="intro">
        <h1 class="titre">GeO Whale</h1>
        <div class="slogan">
            <p>"Dans les profondeurs des fonds marins, des espèces fascinantes<br> sont en marche pour un nouveau voyage..."</p>
        </div>
    </div>
    <div class="conteneur">
        <video class="video" autoplay loop>
            <source  src="img/video.mp4" type="video/mp4" />
        </video>
    </div>
</div>

{% endblock %}
