<footer id="footer">
    <div class="social">
        <div class="logo" >
            <a href="#"><img class="logo-social" src="img/facebook.svg" alt="fb"></a>
            <a href="#"><img class="logo-social" src="img/instagram.svg"></a>
            <a href="#"><img class="logo-social" src="img/twitter.svg"></a>
            <a href="#"><img class="logo-social" src="img/linkedin.svg"></a>
        </div>
        
        <a class="boutton" href="/contact">
            <span class="text">Contactez-nous</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
        </a>
    </div>
    </footer>